/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
/*===== VARIABLES CSS =====*/
:root{
  --header-height: 3rem;
  --font-semi: 600;
}

/*===== Colores =====*/
:root{
  --first-color: rgb(255, 229, 92);
  --second-color: #0E2431;
}

/*===== Fuente y tipografia =====*/
:root{
  --body-font: 'Poppins', sans-serif;
  /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */
  --big-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: .983rem;
  --small-font-size:  .813rem;
  --smaller-font-size: .75rem;
}
@media screen and (min-width: 768px){
  :root{
    --big-font-size: 3.5rem;
    --h2-font-size: 2rem;
    --normal-font-size: 1rem;
  }
}

/* Font size for large devices */
@media screen and (min-width: 968px) {
  :root {
      --big-font-size: 3rem;
      --h1-font-size: 2.25rem;
      --h2-font-size: 1.5rem;
      --h3-font-size: 1.25rem;
      --normal-font-size: 1rem;
      --small-font-size: .875rem;
      --smaller-font-size: .813rem;
  }
}

/*===== Margenes =====*/
:root{
  --mb-1: 0.5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;
}

/*===== z index =====*/
:root{
  --z-back: -10;
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*===== BASE =====*/
*,::before,::after{
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
body{
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  color: var(--second-color);
  background-color: black;
}
h1,h2,p{
  margin: 0;
}
ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
a{
  text-decoration: none;
}
img{
  max-width: 100%;
  height: auto;
  display: block;
}


/*===== LAYOUT =====*/
.bd-grid{
  max-width: 1024px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr)); 
  grid-column-gap: 2rem;
  width: calc(100% - 2rem);
  margin-left: var(--mb-2);
  margin-right: var(--mb-2);
}
.l-header{
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: #000;
  box-shadow: 0 1px 4px rgb(255, 229, 92);
}
.l-header:hover{
  box-shadow: 0 1px 4px rgb(255, 213, 0);
}
.spacer{
  height: calc(var(--header-height) + 1rem);
}
.grid{
  display: grid;
  gap: 1.5rem;
}

/*===== NAV =====*/
.nav{
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: var(--font-semi);
  color: white;
}

@media screen and (max-width: 768px){
  .nav__menu{
    position: fixed;
    top: var(--header-height);
    right: -100%;
    width: 80%;
    height: 100%;
    padding: 2rem;
    background-color: black;
    transition: .5s;
    opacity: .9;
  }
}

.nav__item{
  margin-bottom: var(--mb-4);
}
.nav__link{
  position: relative;
  color: #fff !important;
}
.nav__link:hover{
  position: relative;
}
.nav__link:hover::after{
  position: absolute;
  content: "";
  width: 100%;
  height: 0.18rem;
  left: 0;
  top: 2rem;
  background-color: var(--first-color);
}
.nav__logo{
  width: 50px;
  height: 50px;
}
.nav__toggle{
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
}


/*Active menu*/
.active::after{
  position: absolute;
  content: "";
  width: 100%;
  height: 0.18rem;
  left: 0;
  top: 2rem;
  background-color: var(--first-color);
}

/*=== Show menu ===*/
.show{
  right: 0;
}

/* HOME */
.header-img{
  width: 100%;
  position: relative;
  height: 10rem;
  object-fit: cover;
  box-shadow: 0 1px 4px rgb(255, 229, 92);
  z-index: 2;
}
.header-img:hover{
  box-shadow: 0 1px 4px rgb(255, 213, 0);
}
/* CARDS */
main{
  background-color: rgb(0, 0, 0);
  box-shadow: 0 2px 4px -1px rgb(255, 229, 92);
  position: relative;
  z-index: 1;
  background-image: url(Assest/back2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
main:hover{
  box-shadow: 0 1px 4px rgb(253, 211, 0);
}
.section{
  padding: 4rem 2rem 4rem 2rem;
  
}
.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgb(255, 229, 92);
  transition: 0.3s; 
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border-radius: 0.5rem;
}
.s-img{
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 0.5rem 0.5rem 0 0;
}

/* On mouse-over, add a deeper shadow */
#card1:hover {
  box-shadow: 0 8px 16px 0 rgb(255, 0, 0);
  transform: scale(1.02);
  cursor: pointer;
}
#card2:hover {
  box-shadow: 0 8px 16px 0 rgb(0, 255, 0);
  transform: scale(1.02);
  cursor: pointer;
}
#card3:hover {
  box-shadow: 0 8px 16px 0 rgb(0, 0, 255);
  transform: scale(1.02);
  cursor: pointer;
}

/* Add some padding inside the card car */
.car {
  padding: 1px 16px 3px 16px;
  width: 100%;
  height: auto;
  object-fit: cover;
  color: #fff;
}
.streamer{
  padding: 0;
  margin: 1rem 0 1rem 0;
  text-align: center;
}
.content{
  margin-bottom: 1rem;
  text-align: center;
}


/* FOOTER */
.footer{
  padding: 2rem 2rem 0 2rem;
  background-color: black;
}
.footer__container{
  row-gap: 3.5rem;
  justify-items: center;
  align-items: center;
}
.footer__bg{
  background-color: black;
}
.footer__title{
  font-size: var(--h1-font-size);
  margin-bottom: 0.25rem;
}
.footer__subtitle{
  font-size: var(--small-font-size);
}
.footer__links{
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
  
}
.footer__link:hover{
  color: palevioletred;
}
.footer__social{
  font-size: 1.25rem;
  margin-right: 1.5rem;
}
.footer__social:hover{
  color:red;
}
.footer__copy{
  font-size: var(--smaller-font-size);
  text-align: center;
  color: aliceblue;
  margin-top: 3rem;
}
.footer__title,
.footer__subtitle,
.footer__link,
.footer__social{
  color: #FFF;
}
/* ===== MEDIA QUERIES=====*/
@media screen and (max-width: 731px){
  #home{
    display: flex;
    flex-direction: column;
  }
  .spacer{
      height: 0;
  }
  .card{
    margin-bottom: 1rem;
  }
  .header-img{
    width: 100%;
    height: 4rem;
  }
}
@media screen and (min-width: 568px){
  .footer__container{
    grid-template-columns: repeat(2, 1fr);
  }
  
}
@media screen and (min-width: 768px){
  body{
    margin: 0;
  }
  .nav{
    height: calc(var(--header-height) + 1rem);
  }
  .nav__list{
    display: flex;
    padding-top: 0;
  }
  .nav__item{
    margin-left: var(--mb-6);
    margin-bottom: 0;
  }
  .nav__toggle{
    display: none;
  }
  .nav__link{
    color: var(--second-color);
  }
  .footer__container{
    padding: 0 1rem;
  }
  .footer__container{
    grid-template-columns: repeat(3, 1fr);
  }
  .footer__bg{
    padding:3rem 0 3.5rem;
  }
  .footer__links{
    flex-direction: row;
    column-gap: 2rem;
  } 
  .footer__socials{
    justify-self: flex-end;
  }
  .footer__copy{
    margin-top: 4.5rem;
  }
}

@media screen and (min-width: 1024px){
  .bd-grid{
    margin-left: auto;
    margin-right: auto;
  }
  .footer__container{
    padding: 0;
  }
}